<div class="modify">

    <%= form_for @artist, :url => {action: :create}, :method => :post do |f|  %>
    <p>
      <%= f.label :name, 'Name' %><br>
      <%= f.text_field :name, size: 50 %>
    </p>

    <p>
      <%= f.label :url, 'Image url' %><br>
      <%= f.text_field :url, size: 50 %>
    </p>

    <p>
      <%= f.label :description, 'Description' %><br>
      <%= f.text_area :description, size: '50x10' %>
    </p>

    <p>
      <%= f.submit 'Save' %>
    </p>
  <% end %>


</div>
