<div class="col-lg-9">
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <%= image_tag @artist.url, :size =>"250x250"%>
      <h2 class="padd"> <%= @artist.name %> </h2>
      <p class="padd"> <%= @artist.description %> </p>
      <div class="nLP">
        <a href="<%= root_path(tolist: :LPS, artist: @artist)%>" ><%= "Has #{@artist.lps.count} LPs" %></a>
      </div>
      <div>
        <%= link_to 'Add LP', {:controller => "lp", :action => :new, :idArtist =>@artist}, :method => :get%>
      </div>
      <div>
        <%= link_to 'Edit artist', {:action => :edit, :id =>@artist}, :method => :get%>
      </div>
      <div>
        <%= link_to 'Remove artist', {:action => :delete, :id =>@artist}, :method => :delete%>
      </div>
    </div>
  </div>
</div>
</div>
